<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>createAccount</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">createAccount</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-content>
  <input [(ngModel)]="email.value" #emailInput type="text" placeholder="Correo">
  <ion-button (click)="registerEmail()" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Inicio de sesion</ion-button>
  <br><br>
  <input [(ngModel)]="password.value" #passwordInput type="password" placeholder="Contraseña">
  <ion-button (click)="registerPassword()" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Inicio de sesion</ion-button>


</ion-content>